{{! Footer }}
<footer>
    &copy; {{date format="YYYY"}} <a href="{{@blog.url}}" title="" target="_blank">{{@blog.url}}</span></a>
    Proudly published with <a title="Ghost Blogging Platform" href="https://ghost.org" target="_blank">Ghost</a>
</footer>
